.pagination {
  display: inline-block;
  float: left;
  list-style: none;
}

.page-number {
  color: #2f6fad;
}
.page-number .active {
  background-color: #0b97c4;
  color: white;
}

.pagination > li > a, .pagination > li > span{
  color: #5A768F;
  padding: 9px 15px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #D9E9FA;
  border-color: #A3D2F4;
  color: #5A768F;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background-color: #FFFAEC;
}

.pagination > li > a:hover{
  cursor: pointer;
}
