<ListFilter
    @filter={{action "filterByCity"}}
        as |pagedContent|
>
  <ul class="results">
    {{#each pagedContent as |rentalUnit|}}
      <li><RentalListing @rental={{rentalUnit}} /></li>
    {{/each}}
  </ul>
</ListFilter>

{{page-numbers content=pagedContent currentPage=page totalPages=this.model.length showFL=true}}
