
<ul>
  {{#each this.model as |rentalUnit|}}
    {{debugger}}
    <li><RentalListing @rental={{rentalUnit}} /></li>
  {{/each}}
</ul>

{{!page-numbers totalPages=pageCount currentPage=page_no}}
{{ember-cli-simple-pagination totalPages=pageCount currentPage=page_no}}
